# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\CTIS\417\Project 1 - Strategy and Observer\Calculator\.idea/dataSources/
/dataSources.local.xml
